<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @discount.discount_amount %>
</p>

<p>
  <strong>Discount percent:</strong>
  <%= @discount.discount_percent %>
</p>


<p>
  <strong>Start:</strong>
  <%= @discount.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @discount.end %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
